{% extends 'shop/basic.html' %}
{%block title%}Checkout{%endblock%}
{%block body%}
    <div class="container">
        <h3>Review</h3>
        <div class="col my-4">
            <div id="items">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">14</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dapibus ac facilisis in
                    <span class="badge badge-primary badge-pill">2</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Morbi leo risus
                    <span class="badge badge-primary badge-pill">1</span>
                  </li>
                </ul>
            </div>
        </div>
        <div class="col my-4">
            <h3>Details</h3>
                <form>
                 <div class="form-row">
                     <div class="form-group col-md-6">
                      <label for="inputName">Name</label>
                      <input type="name" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                 </div>
                 <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                 </div>
                 <div class="form-group">
                    <label for="inputAddress2">Address Line 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                 </div>
                 <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <input type="text" class="form-control" id="inputState">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" class="form-control" id="inputZip">
                    </div>
                     <div class="form-group">
                      <label for="inputPhone">Phone No</label>
                      <input type="tel" class="form-control" id="inputPhone">
                    </div>
                 </div>
                 <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
        </div>
    </div>
{%endblock%}