{% extends 'shop/basic.html' %}

{% block title %}Contact Us{%endblock%}
{%block body%}

    <div class="container-fluid" id="open">
        <div class="container">
            <div class="row" style="padding-top:20px">
                <div class="page-header">
                    <h2>Contact Us</h2>
                </div>
                <div class="col-sm-12 contact_form mrg30B about_Area_text">
                <form data-toggle="validator" role="form" action="/shop/contact/" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Your Name (required) </label>
                                <input type="text" id="name" class="form-control" data-error="Please enter name field." placeholder="Your Name " name="name" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Your Phone no. (required)</label>
                                <input type="tel" class="form-control mobilenumber" id="phone" minlength="8" maxlength="12" data-error="Please enter your valid phone no." placeholder="Your Phone no." name="phone" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Your Email (required)</label>
                                <input type="email" class="form-control" id="email" placeholder="Email Address*" name="email" required="">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>Your Message</label>
                                <textarea class="form-control no-resize" id="msg" rows="6" placeholder="Write Your Message*" name="msg" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="Submit" class="btn btn-red text-uppercase mrg15R" name="enq">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>



{%endblock%}