{% extends 'shop/basic.html' %}
    {% block css %}
      .col-md-3{
        display: inline-block;
        margin-left: -4px;
      }
      .carousel-indicators .active{
          background-color: blue;
      }
      .col-md-3 img{
        max-width: 227px;
        height: 242px;
      }
      body .carousel-indicators li{
        background-color: blue;
      }
      body .carousel-indicators{
          bottom : 0;
      }
      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
        background-color: blue;
      }
      .carousel-control-prev,
       .carousel-control-next{
        top : auto;
        buttom : auto;
      }
      body .no-padding{
        padding-left: 0;
        padding-right: 0;
      }

    {% endblock %}

  {% block body %}
    {% load static %}

<div class="container">
  <!--Slide Show Start-->
  {% for product, range, nSlides in allProds %}
  <h1>{{product.0.category}}</h1>
  <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
      {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
      {% endfor %}
    </ul>

    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <!--<div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{product.0.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.0.product_name}}</h5>
              <p class="card-text">{{product.0.desc}}</p>
              <button class="btn btn-primary cart" id="pr{{product.0.id}}">Add to Cart</button>
            </div>
          </div>
        </div>-->

        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:"0:23"}}...</p>
              <span id="divpr{{i.id}}" class="divpr">
                <button class="btn btn-primary cart" id="pr{{i.id}}">Add to Cart</button>
              </span>
              <a href="/shop/products/{{i.id}}"><button class="btn btn-primary cart" id="qv{{i.id}}">Quick View</button></a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

    <!--Left Right Arrow-->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  {% endfor %}
  </div>
    {% endblock %}

{% block js %}
  <script>
    //Find cart item from Local Storage
    if(localStorage.getItem('cart') == null){
      var cart = {};
    }
    else{
      var cart = JSON.parse(localStorage.getItem('cart'));
      //document.getElementById('cart').innerHTML = Object.keys(cart).length;
      updateCart(cart);
    }
    //If addToCart click, Add/Increment
    $(".cart").click(function(){
    //$(".divpr").on('click', 'button.cart', function () {
      var idstr = this.id.toString();
      //console.log(idstr);

      if(cart[idstr] != undefined){
        cart[idstr] = cart[idstr] + 1;
      }
      else{
        cart[idstr] = 1;
      }
      updateCart(cart);
      updatePopover(cart);
      /*localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;*/
    });

    $('#popcart').popover();

    // document.getElementById('popcart').setAttribute('data-content','<h3>Cart</h3>');
    updatePopover(cart);

    function updatePopover(cart) {
      var popStr = "";
      popStr += "<h5>Items in your cart</h5><div class='mx-2 my-2'>";
      var i = 1;
      for (var item in cart){
        popStr += "<b>"+i+"</b>. ";
        popStr += document.getElementById('name'+item).innerHTML.slice(0,19)+" Qty : "+cart[item]+"<br>";
        i = i+1;
      }

      popStr += '</div>';
      popStr += '<a href="/shop/checkout"  class="btn btn-primary" id="checkout">Checkout</a> <a href="javascript:void(null)" class="btn btn-success" id="clearCart" onclick="return clearCart();">Clear</a>';
      //console.log(popStr);
      document.getElementById('popcart').setAttribute('data-content', popStr);
      $('#popcart').popover('show');
    }

    function clearCart(){
     var cart = JSON.parse(localStorage.getItem('cart'));
      for(var item in cart){
        document.getElementById('div'+item).innerHTML = '<button class="btn btn-primary cart" id="'+item+'">Add to Cart</button>';
      }
      localStorage.clear();
      cart = {};
      updateCart(cart);
      return true;
    }
    
    function updateCart(cart) {
      //console.log(cart);
      var sum = 0;
      for (var item in cart){
        sum += cart[item];
        document.getElementById("div"+item).innerHTML = "<button id='minus"+item+"' class='btn btn-primary minus'>-</button> <span id='val"+item+"'>"+cart[item]+"</span> <button id='plus"+item+"' class='btn btn-primary plus'>+</button>";
      }
      localStorage.setItem('cart', JSON.stringify(cart));
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
      //For total quantites
      //document.getElementById('cart').innerHTML = sum;
    }

  //Value Change on Plus Minus clicked
    $(".divpr").on("click", "button.minus", function () {
      id = this.id.slice(7, );
      cart['pr'+id] = cart['pr'+id] - 1;
      cart['pr'+id] = Math.max(1, cart['pr'+id]);
      document.getElementById('valpr'+id).innerHTML = cart['pr'+id];
      updateCart(cart);
      updatePopover(cart);
    });

    $(".divpr").on("click", "button.plus", function () {
      id = this.id.slice(6, );
      cart['pr'+id] = cart['pr'+id] + 1;
      document.getElementById('valpr'+id).innerHTML = cart['pr'+id];
      updateCart(cart);
      updatePopover(cart);
    });

  </script>
{% endblock %}
